/* Dark Theme */
:root {
    --primary-color-dark: #b6ff6b;
    --secondary-color-dark: #f0ff4a;

    --accent-color-dark: #9d00ff;
    --accent-bg-color-dark: #9d00ff;
    --accent-text-color-dark: #9d00ff;

    --neutral-color-dark: #121212;
    --neutral-bg-color-dark: #f5f5f5;
    --neutral-text-color-dark: #eceff1;

    --text-color-dark: #f5f5f5;
    --bg-color-dark: #121212;
    --link-color-dark: #1e0b2b;
}

body {
    background-image: url(images/night_stars_bg.jpg); /* Replace with the path to your image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Makes sure the body covers the full viewport height */
    margin: 0; /* Removes any default margins */
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    padding: 20px;
}

.grid figure img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(var(--row), 100px);
    margin-top: 50px;
    gap: 50px;
}
.grid-1 figure:nth-child(1){
    grid-column: 2 / 6;
    grid-row: 1;
}
.grid-1 figure:nth-child(2){
    grid-column: 3 / 5;
    grid-row: 1;
}
.grid-1 h2:nth-child(3){
    font-size: 7em;
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 5;
    z-index: 1;
}
.grid-1{
    --row: 2;
}
.grid-2{
    --row: 8;
    font-size: 1.7em;
}
.grid-2 div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 3;
}
.grid-2 div:nth-child(2){
    grid-column: 4 / 7;
    grid-row: 1;
}
.grid-2 div:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 4;
}
.grid-2 div:nth-child(4){
    grid-column: 1 / 4;
    grid-row: 6;
}

.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
}
@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.autoBLur{
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBLurAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}