@layer base, rhythm, layout, components, default, overwrites;


/* Dark Theme */
:root {
    --primary-color-dark: #b6ff6b;
    --secondary-color-dark: #f0ff4a;

    --accent-color-dark: #9d00ff;
    --accent-bg-color-dark: #9d00ff;
    --accent-text-color-dark: #9d00ff;

    --neutral-color-dark: #121212;
    --neutral-bg-color-dark: #f5f5f5;
    --neutral-text-color-dark: #eceff1;

    --text-color-dark: #f5f5f5;
    --bg-color-dark: #121212;
    --link-color-dark: #1e0b2b;
}

@font-face {
    font-family: 'Centrion';
    src: url(fonts/Centrion/centrion.ttf) ormat('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Halfomania';
    src: url(fonts/Halfomania/Halfomania-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

html {
    /* Create a timeline scope, so we can target any element on the page */
    timeline-scope: --header, --main, --section-zoom, --section-service;
  }

body {
    /* Hauteur pour simuler le défilement (zoom)*/
    height: 300vh; 
    background: 
    /* Grille de base (fine) */
    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 0) repeat,
    linear-gradient(0deg, rgba(255,255,255,0.1) 1px, transparent 0) repeat;
    /* Taille de la grille */
    background-size: 100px 100px;
    /* Couleur par défaut */
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    /* Police par défaut*/
    padding: 20px;
    font-family: "Gemunu Libre";
}

/* Gestion des polices par défaut */
.text-title {
    font-family: "Centrion";
}
.text-subtitle {
    font-family: "Gemunu Libre";
}
.text-body {
    font-family: "Roboto";
}
.text-accent {
    font-family: "Gemunu Libre";
}

/*-------------------------------ZOOM EYE --------------------------------*/

.zoom-container {
    position: relative;
    height: 200vh;
    overflow: hidden;
}

.eye-image {
    width: 100%;
    object-fit: cover;
    transform-origin: 50% 20%;
    transition: transform 0.3s ease-out, filter 0.3s ease-out; /* Ajoute la transition pour le blur */
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--bg-color-dark);
    opacity: 0;
    transition: opacity 0.3s ease-out; /* Transition pour rendre la couche noire visible progressivement */
}

.black-section {
    background-color: rgb(169, 11, 184);
    height: 100vh;
    view-timeline: --main;
}

.slogan {
    font-family: "Gemunu Libre";
    font-size: 5em;
    text-align: center;
    padding: 5% 10%; /* vertical | horizontal */
}

/*-------------------------------HEADER --------------------------------*/

h1 {
    font-family: "Centrion";
    font-size: 100px;
    color: var(--primary-color-dark);
}

.button-container {
    position: relative;
    display: inline-block;
  }

.round-button {
    background-color: var(--accent-bg-color-dark);
    border-radius: 50%;
    border: none;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    z-index: 1;
}

button {
    border: none;
    background: none;
    cursor: pointer;
  }


/*-------------------------------GAIN SECTION --------------------------------*/

.grid figure img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(var(--row), 100px);
    margin-top: 50px;
    gap: 50px;
}
.grid-1 figure:nth-child(1){
    grid-column: 2 / 6;
    grid-row: 1;
}
.grid-1 figure:nth-child(2){
    grid-column: 3 / 5;
    grid-row: 1;
}
.grid-1 h2:nth-child(3){
    font-size: 7em;
    grid-column: 1 / 7;
    text-align: center;
    grid-row: 5;
    z-index: 1;
}
.grid-1{
    --row: 2;
}
.grid-2{
    --row: 8;
    font-size: 1.7em;
}
.grid-2 div:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1;
}
.grid-2 div:nth-child(2){
    grid-column: 1 / 4;
    grid-row: 2;
}
.grid-2 div:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 4;
}
.grid-2 div:nth-child(4){
    grid-column: 1 / 4;
    grid-row: 7;
}

.autoRotate{
    animation: autoRotateAnimation;
    animation-timeline: view();
}
@keyframes autoRotateAnimation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.autoShow{
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);

}
@keyframes autoShowAnimation{
    from{
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.autoBLur{
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}
@keyframes autoBLurAnimation{
    0%{
        filter: blur(40px);
    }
    45%, 55%{
        filter: blur(0px);
    }
    100%{
        filter: blur(40px);
    }
}
main {
    /* Create a snapping rule on the html element */
    scroll-snap-type: y mandatory;
    view-timeline: --main;
}
.section-service {
    /* Creating a snapping rule on the section element */
    scroll-snap-align: start;
    scroll-snap-stop: always;
  
    /* Attach the timeline to the section element*/
    view-timeline: --section-service;
  
    /* Set each section to the full dynamic height of the viewport */
    height: 100dvh;
}

.content-service {
    /* Fix the content, so it doesn't scroll with the section */
    overflow: hidden;
    position: fixed;
    inset: 0;

    /* Animate the content based on the section scrolling */
    --contrast: 4;
    --blur: 0.5rem;

    animation: blink ease-in-out both;
    animation-timeline: --section-service;
}

@keyframes blink {
    0%,
    100% {
      filter: blur(var(--blur)) contrast(var(--contrast));
      opacity: 0;
      visibility: hidden;
    }
  
    50% {
      filter: blur(0) contrast(1);
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes fade-scroll {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  