/*-------------------------------Dark Theme --------------------------------*/
:root {
    --primary-color-dark: #b6ff6b;
    --secondary-color-dark: #f0ff4a;

    --accent-color-dark: #9d00ff;
    --accent-bg-color-dark: #9d00ff;
    --accent-text-color-dark: #9d00ff;

    --neutral-color-dark: #121212;
    --neutral-bg-color-dark: #f5f5f5;
    --neutral-text-color-dark: #eceff1;

    --text-color-dark: #f5f5f5;
    --bg-color-dark: #121212;
    --link-color-dark: #1e0b2b;
}

@font-face {
    font-family: 'Centrion';
    src: url(fonts/Centrion/centrion.ttf) ormat('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Halfomania';
    src: url(fonts/Halfomania/Halfomania-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

/*-------------------------------Styles généraux --------------------------------*/

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    /* Hauteur pour simuler le défilement (zoom)*/
    /* height: 100vh;  */
    background: 
    /* Grille de base (fine) */
    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 0) repeat,
    linear-gradient(0deg, rgba(255,255,255,0.1) 1px, transparent 0) repeat;
    /* Taille de la grille */
    background-size: 100px 100px;
    /* Couleur par défaut */
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    /* Police par défaut*/
    font-family: "Gemunu Libre";
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Gestion des polices par défaut */
.text-title {
    font-family: "Centrion";
}
.text-subtitle {
    font-family: "Gemunu Libre";
}
.text-basic {
    font-family: "Roboto";
}
.text-accent {
    font-family: "Gemunu Libre";
}

.section-service {
    position: relative;
    height: 100vh;                
    width:100%;
}

/* Style de base pour la section */
.content-service {
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: row-reverse; /* Deux colonnes (par défaut sur grand écran) */
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 5%;
}

.responsive-content-image {
    width: 50%;
}

.responsive-content-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    flex: 1;
}

/* Ajustement du style de l'image */
.caroussel .responsive-content-image img {
    max-width: 100%; /* Assure que l'image ne dépasse pas de son conteneur */
    height: auto;
}

.cta {
    background-color: var(--primary-color-dark);
    color:var(--neutral-color-dark);
    border-style: none;
    border-radius: 10px;
    display: inline-block;
    transition: color 100ms;
    text-align: center;
    padding: 5px 10px;
}

.cta:hover,
.cta:focus {
  background-color: #F082AC;
}
